.header {
    color: white;
    text-decoration: none;
}


.header .nav-link {
    border: 2px solid black;
    text-decoration: none;
    color: white;
}

.header .nav-link:hover {
    border: 2px solid #C1121F;
    color: white;
}

.header .nav-link.active {
    border: 2px solid #C1121F;
    color: white;
}

.header .nav-link2 {
    border: 2px solid black;
    text-decoration: none;
    color: white;
    position: relative;
    font-size: larger;
}

header .nav-link2::after {
    content: "";
    width: 0%;
    height: 3px;
    display: block;
    margin: 0 auto;
    transition: 1000ms;
}

header .nav-link2:hover::after {
    background: #C1121F;
    width: 100%;
}

.header .MuiPaper-root,
.header .MuiAppBar-root {
    top: 5px !important;
}


/* מעל 390px */
@media (min-width: 391px) {
    .links-menu {
        display: none;
    }

    .links-appBar {
        display: flex;
    }
}

@media (max-width: 390px) {
    .links-menu {
        display: block;
    }

    .links-appBar {
        display: none;
    }
}

.links-menu .nav-link2 {
    text-decoration: none;
    color: #C1121F;
}

.links-menu .nav-link2:hover {
    color: #C1121F;
}

.links-menu .nav-link2::after {
    content: "";
    width: 0%;
    height: 3px;
    display: block;
    margin: 0 auto;
    transition: 1000ms;
}

.links-menu .nav-link2:hover::after {
    background: black;
    width: 100%;
}