.branches {
    max-width: 850px;
    margin: 0 auto;
    border-radius: .5rem;
    margin-top: 10px;
}

.branches .grid {
    padding-bottom: 25px;
    padding-right: 25px;
}

.branches .grid .kosher {
    margin-top: 15px;
    margin-bottom: -15px;
    color: #C1121F;
    font-weight: bold;
}

.branches .grid .opening-hours {
    font-weight: bold;
    margin: 0 auto;
}

.branches .grid .grid2 {
    margin-top: 10px;
}

.branches .grid .fas {
    height: 30px;
    width: 30px;
    border: 2px solid #C1121F;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -30px;
    margin-right: -30px;
    margin-top: 15px;
    color: #C1121F;
    background-color: white;
}

.branches .accordion-icon{
    color:#C1121F;
}