.box .no-available,
.product-dialog .no-available {
    font-weight: bold;
}

@media(max-width:600px) {
    .title-fav .t1 {
        height: 130px !important;
    }

    .title-fav .t2 {
        height: 100px !important;
    }
}

@media(max-width:470px) {
    .title-fav .t1 {
        height: 100px !important;
    }

    .title-fav .t2 {
        height: 80px !important;
    }
}