.management .btn {
    display: inline-block;
    color: #eee;
    background: black;
    border-radius: .5rem;
    cursor: pointer;
    padding: .6rem 1rem;
}

.management .btn:hover {
    background: #C1121F;
    color: white;
    letter-spacing: .1rem;
}

.dishes .box-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}