.MuiRadio-root.Mui-checked {
    color: #C1121F !important;
}

/* לצבוע את הערך שממלאים בעיר*/
/* ,.MuiAutocomplete-colorPrimary , */
.MuiFormLabel-colorPrimary {
    color: #C1121F !important;
}

.city .MuiInputBase-root

/* , */
/* .MuiOutlinedInput-root, */
/* .MuiInputBase-colorPrimary, */
/* .MuiInputBase-fullWidth, */
/* .MuiInputBase-formControl, */
/* .MuiInputBase-adornedEnd, */
/* .MuiAutocomplete-inputRoot, */
/* .MuiInputBase-root-MuiOutlinedInput-root */
    {
    height: 56px;
}

.css-qeca7m-MuiAutocomplete-root .MuiOutlinedInput-root .MuiAutocomplete-endAdornment {
    right: 150px !important;
}

.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #C1121F !important;
}