.MuiRadio-root.Mui-checked {
    color: #C1121F !important;
}

.MuiFormLabel-colorPrimary {
    color: #C1121F !important;
}

.city .MuiInputBase-root {
    height: 56px;
}

.css-qeca7m-MuiAutocomplete-root .MuiOutlinedInput-root .MuiAutocomplete-endAdornment {
    right: 150px !important;
}

.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #C1121F !important;
}