.categories {
  max-width: 750px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 30px;
}

.button-category {
  background-color: black;
  border: 2px solid black;
  padding: .6rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: background-color 2s, color 0.5s;
  margin: 0.2rem;
}

.button-category:hover {
  background-color: white;
  color: black;
}

.dishes .box-container .btn,
.product-dialog .btn,
.reset .btn,
.not-connected-dialog .btn,
.cart .btn,
.forgot .btn,
.edit-profile-user .btn,
.harshama .btn,
.hithabrut .btn,
.pay .btn,
.users .btn,
.orders .btn,
.btn {
  display: inline-block;
  color: #eee;
  background: black;
  border-radius: .5rem;
  cursor: pointer;
  padding: .6rem 1rem;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.dishes .box-container .btn:hover,
.product-dialog .btn:hover,
.reset .btn:hover,
.not-connected-dialog .btn:hover,
.cart .btn:hover,
.forgot .btn:hover,
.edit-profile-user .btn:hover,
.harshama .btn:hover,
.hithabrut .btn:hover,
.pay .btn:hover,
.users .btn:hover,
.orders .btn:hover,
.btn:hover {
  background: #c1121F;
  color: white;
  letter-spacing: .1rem;
}

.dishes .box-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

.dishes .box-container .box {
  width: 20%;
  padding: 1.5rem;
  padding-top: 1rem;
  background: #fff;
  border-radius: .5rem;
  border: .1rem solid #C1121F;
  position: relative;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
  width: 290px;
  height: 330px;
}

.dishes .box-container .box .heart,
.dishes .box-container .box .eye {
  position: absolute;
  top: .5rem;
  border: 2px solid #C1121F;
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: black;

  transition: 150ms;
}

.dishes .box-container .box .heart:hover,
.dishes .box-container .box .eye:hover {
  background: #C1121F;
  color: #fff;

}
.dishes .box-container .box .heart:hover {
  transform: rotate(-360deg);
}
.dishes .box-container .box .eye:hover {
  transform: rotate(360deg);
}

.dishes .box-container .box .heart {
  right: 0.5rem;
}

.dishes .box-container .box .eye {
  left: 0.5rem;
}

.dishes .box-container .box img {
  height: 10rem;
  width: 15rem;
  border-radius: .5rem;
  margin-top: 2.5rem;
}

.dishes .box-container .box .product-price {
  color: #C1121F;
  font-weight: bolder;
  margin-left: 1rem;
  font-size: 2rem;
}

.product-dialog .description {
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-dialog img {
  height: 14rem;
  width: 21rem;
  border-radius: .5rem;
  display: flex;
}

.product-dialog .fa-crown {
  color: orange;
  margin-right: 420px;
  display: flex;
  top: 350px;
  position: fixed;

}

.product-dialog .fa-pepper-hot {
  color: #C1121F;
  margin-right: 420px;
  display: flex;
  top: 390px;
  position: fixed;

}

.product-dialog .fa-leaf {
  color: green;
  margin-right: 420px;
  display: flex;
  top: 430px;
  position: fixed;

}

.product-dialog .price {
  margin-right: 380px;
  margin-top: -100px;
  text-align: center;
}

.product-dialog .btn {
  margin-right: 415px;
  margin-top: -45px;
  display: flex;
}

.not-connected-dialog .btn {
  margin-top: 55px;
  margin-right: 184px;
}

.message-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  padding: 20px;
  margin: 10px;
  height: 135px;
  background-color: white;
}

.message-heart {
  margin-top: -31px;
  margin-right: -159px;
}

.message-eye {
  margin-top: -31px;
  margin-right: -195px;

}

.buttons-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: -140px;
  height: 125px;
}

.btn-prev {
  margin-right: 15px;
  border: none;
}

.btn-next {
  margin-left: 15px;
  border: none;
}

.btn-prev:hover,
.btn-next:hover {
  background-color: aliceblue;
}

.MuiPaginationItem-root.Mui-selected,
.MuiPaginationItem-root {
  color: white !important;
}

.pagination {
  margin-right: 785px !important;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
  box-shadow: 1px 0px 20px 5px #FFFFFF;
  border-radius: 50px;
}