.hithabrut {
    text-align: center !important;
    align-items: center !important;
    line-height: 4.5 !important;
    font-family: "M PLUS Rounded 1c", sans-serif !important;
}

.typo {
    text-align: center !important;
    font-size: 20px !important;
    font-weight: 500 !important;
    line-height: 2 !important;
    font-family: "M PLUS Rounded 1c", sans-serif !important;
    font-weight: bold !important;

}

.css-17vbkzs-MuiFormControl-root-MuiTextField-root {
    width: 428px !important;
    margin: 0 !important;
    padding: 0 !important;
}

.hithabrut a {
    color: #c1121f !important;
    text-decoration: none !important;
    position: relative;

}

.hithabrut a::after {
    content: "";
    width: 0%;
    height: 1.5px;
    display: block;
    margin: 0 auto;
    transition: 1000ms;
    position: absolute;

    transform: translateX(-50%);

    bottom: -3px;
    left: 50%;
}

.hithabrut a:hover::after {
    background: white;
    width: 90%;

}

@media (max-width: 500px) {
    .hithabrut .css-17vbkzs-MuiFormControl-root-MuiTextField-root {
        width: 300px !important;
    }
}

@media (max-width: 350px) {
    .hithabrut .css-17vbkzs-MuiFormControl-root-MuiTextField-root {
        width: 250px !important;
    }
}