.add .btn {
    display: inline-block;
    color: #eee;
    background: black;
    border-radius: .5rem;
    cursor: pointer;
    padding: .6rem 1rem;
    margin-bottom: -15px;
}

.add .btn:hover {
    background: #C1121F;
    color: white;
    letter-spacing: .1rem;
}